.navbar {
    display: flex;
    align-items: center;
}

.navbar_menu {
    display: flex;
    transition: all 1s ease-in-out;
}

@media screen and (max-width: 900px) {
    .navbar_menu {
        display: none;
    }
}